.jumbotron {
  background-color: #ffffff;
  margin-bottom: auto;
}

#about {
  background-color: #e1e5f2;
}

#projects {
  background-color: #bfdbf7;
}

#contact {
  background-color: #1f7a8c;
}

section {
  padding-top: 8rem;
}
