.jumbotron {
  padding-top: 3.5rem;
  background-color: #ea95ff;
}

#about {
  background-color: #f5ff6a;
}

#projects {
  background-color: #5fe7ff;
}

h2 {
  padding-top: 80px;
}

p {
  padding-top: 50px;
}

#contact {
  background-color: #79ff67;
}
